@use "../top/vars" as *;

@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url("https://discordstyles.github.io/HorizontalServerList/HorizontalServerList.css");
@import url("https://discordstyles.github.io/HorizontalServerList/bottomhsl.css");

:root {
    --guildbar-avatar-size: 25px;
    --blob-scale: 25;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --HSL-server-direction: column;
    /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
    --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */

    //Taskbar height
    --custom-guild-list-width: 51px !important;
}

//Channels sidebar
#app-mount [class*="sidebar"] {
    border-radius: 8px 8px 0 0;
}

//Taskbar
//leave gap in server bar for control panel
#app-mount [class*="guilds"] {
    height: calc(100vw - $panel-width) !important;

    //Spacing between each server icon
    [class*="stack"] {
        gap: 10px !important;
    }
}

#guild-list-unread-dms > div {
    width: var(--guildbar-avatar-size) !important;
    height: var(--guildbar-avatar-size) !important;
}
