@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/buttons" as bt;
@use "../top/shadows" as shd;

//Server list
[class*="guilds"] {
    --status-danger: #{$color-ping-1};

    //Move taskbar to left of screen
    [class*="tree"] {
        padding-top: 0px !important;
    }

    //Unread indicator - "NEW"
    [class*="unreadMentionsIndicatorBottom"],
    [class*="unreadMentionsIndicatorTop"] {
        //I'm not sure what Salt was originally meaning to do here,
        //so I completely hid the indicator, as I never knew otherwise
        //and it's a nuisance.
        display: none;
    }

    //Server list scroller
    [class*="scroller"] {
        @include box.barGradient(true, $color-window-1, $color-window-2);
        padding-top: 0px !important;

        //DMs icon / Start button
        [class*="tutorialContainer"]:nth-of-type(1) {
            @include box.barGradient(true, $color-start-1, $color-start-2);
            position: relative;
            padding: 10px 0 30px 0;
            border-radius: 0 0 100% 100% / 0 0 12px 12px;

            //Discord icon wrapper (excluding pill)
            [class*="listItemWrapper"] {
                width: var(--guildbar-avatar-size);
                height: var(--guildbar-avatar-size);

                //Discord icon
                [class*="wrapper"] {
                    [class*="wrapper"] {
                        //childWrapper contains Discord icon svg

                        [class*="selected"],
                        &:hover {
                            [class*="childWrapper"] {
                                color: $white;
                            }
                        }

                        [class*="childWrapper"] {
                            color: $white-overlay;
                            background: transparent;

                            svg {
                                zoom: 3;
                            }
                        }
                    }
                }
            }
        }

        //All server icons - making the icons circular
        [class*="listItem"] {
            //Unread/selected white pill
            [class*="pill"] {
                clip-path: none !important;
            }

            [class*="wrapper"] {
                width: var(--guildbar-avatar-size) !important;
                height: var(--guildbar-avatar-size) !important;

                img {
                    clip-path: circle(50% at 50% 50%);
                }

                mask {
                    display: none;
                }
            }
        }

        //Unread pill
        [class*="item"] {
            background: $white;
        }

        //Unread icon
        [class*="lowerBadge"] {
            width: var(--guildbar-avatar-size);
            height: var(--guildbar-avatar-size);

            [class*="numberBadge"] {
                position: fixed;
                bottom: -1px;
                right: -2px;
            }
        }

        //Closed folder
        [class*="folderGroup"]:not([class*="isExpanded"]) {
            [class*="folderButtonInner"] {
                background: radial-gradient(
                    circle at 12px 12px,
                    $white-folder-overlay,
                    $color-taskbar-1,
                    $color-taskbar-3
                );
            }
        }

        //Open folder
        [class*="folderGroup"][class*="isExpanded"] {
            [class*="folderGroupBackground"] {
                background: linear-gradient(
                    to bottom,
                    $color-taskbar-1,
                    $color-taskbar-2
                );
                width: 26px;
            }

            //Fix folders being too wide due to Discord somehow manually setting width: 
            [class*="stack"] {
                height: 100% !important;
            }
        }

        //Add server and discover servers
        //Favourite servers
        [class*="circleIconButton"],
        [class*="childWrapperNoHoverBg"] {
            background: linear-gradient(
                to bottom,
                $color-taskbar-1,
                $color-taskbar-2
            );
            color: $white-overlay;
            clip-path: circle(50% at 50% 50%);

            svg {
                zoom: 0.7;
            }
        }
    }
}

//Control panel
[class*="panels"] {
    width: $panel-width;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: calc(100vw - $panel-width);
    z-index: 1;
    @include box.barGradient(false, $color-taskbar-1, $color-taskbar-2);
    border-radius: 0px;

    &:hover {
        z-index: 2;
    }
}
