@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/buttons" as bt;
@use "../top/shadows" as shd;

//Server list
.guilds__5e434 {
    --status-danger: #{$color-ping-1};

    //Move taskbar to left of screen
    .tree_ef3116 {
        padding-top: 0px !important;
    }

    //Unread indicator - "NEW"
    .unreadMentionsIndicatorBottom_ef3116,
    .unreadMentionsIndicatorTop_ef3116 {
        //I'm not sure what Salt was originally meaning to do here,
        //so I completely hid the indicator, as I never knew otherwise
        //and it's a nuisance.
        display: none;
    }

    .scroller_ef3116 {
        @include box.barGradient(true, $color-window-1, $color-window-2);
        padding-top: 0px !important;

        // DMs icon / Start button
        .tutorialContainer__1f388 {
            @include box.barGradient(true, $color-start-1, $color-start-2);
            position: relative;
            padding: 10px 0 30px 0;
            border-radius: 0 0 100% 100% / 0 0 12px 12px;

            //Discord icon
            .wrapper_cc5dd2 {
                transform: rotate(90deg);

                .wrapper__6e9f8 {
                    .selected__6e9f8,
                    &:hover {
                        .childWrapper__6e9f8 {
                            color: $white;
                        }
                    }

                    .childWrapper__6e9f8 {
                        color: $white-overlay;
                        background: transparent;

                        svg {
                            zoom: 3;
                        }
                    }
                }
            }
        }

        // Unread pill
        .item__58105 {
            background: $white;
        }

        // Folder
        .folderGroup__48112:not(.isExpanded__48112) {
            .folderButtonInner__48112 {
                background: radial-gradient(circle at 12px 12px, $white-folder-overlay, $color-taskbar-1, $color-taskbar-3);
            }
        }

        //Open folder
        .folderGroupBackground__48112 {
            background: linear-gradient(to bottom, $color-taskbar-1, $color-taskbar-2);
            width: 25px;
        }

        // Add server and discover servers
        // Favourite servers
        .circleIconButton__5bc7e,
        .childWrapperNoHoverBg__6e9f8 {
            background: linear-gradient(to bottom, $color-taskbar-1, $color-taskbar-2);
            color: $white-overlay;
        }
    }
}

// Control panel
.panels__5e434 {
    width: $panel-width;
    height: auto;
    position: fixed;
    bottom: -1px;
    left: calc(100vw - $panel-width);
    z-index: 1;
    @include box.barGradient(false, $color-taskbar-1, $color-taskbar-2);

    &:hover {
        z-index: 2;
    }
}

//Where I left off:
//Remember the todo in css-vars or somewhere for the code block
//  transform-origin: top left; is that for rotation, or can i use that to move
// the user area? although pos: abs and bot: right: should get the results i want
//the ks and + and discovery icons have a weirdly offset bg